@charset "UTF-8";
/*!
Theme Name: kylecorea
Theme URI: http://underscores.me/
Author: Christopher Sorrentino
Author URI: http://underscores.me/
Description: Theme for kylecorea.com
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: wp_kylecorea
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

kylecorea is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1.site-title {
  margin: 0; }

.site-title {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1; }

.site-title a {
  border-bottom: none; }

p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 21px;
  color: #231F20;
  margin: 0; }

h2 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 21px;
  padding: 0 0 14px 0;
  letter-spacing: .05em;
  color: #231F20;
  text-transform: uppercase;
  margin: 0; }

a, a:visited {
  text-decoration: none;
  color: #67BAB2;
  border-bottom: solid 1px #67BAB2; }

.red {
  color: #EA212D; }

.black {
  color: #231F20; }

.site-description {
  color: #828282;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: .5px;
  font-family: work sans;
  margin: 0; }

.main-navigation ul li a {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.12px;
  text-transform: uppercase; }

.main-navigation ul li a:hover {
  color: #67BAB2; }

.main-navigation .sub-menu a {
  color: #0d0d0d;
  font-weight: 400;
  font-size: .8em;
  text-transform: none; }

.main-navigation a {
  border-bottom: none; }

.cd-nav-trigger {
  border-bottom: none; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #67BAB2;
  text-decoration: none; }
  a:visited {
    color: #67BAB2; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: 0; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*.menu-toggle {
    font-weight:500;
    float:right;
    display:block;
    border: 0px solid rgba(0, 0, 0, .5);
    border-radius: 0;
    background: white;
    box-shadow: none;
    color: rgba(0, 0, 0, .5);
    font-size: 1.25em;
    line-height: 1;
    margin:1em;
    text-shadow: 0;
}

button:focus, button:active {
    outline:0;
}*/
.main-navigation {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 91px 0 0;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
  	 /*
  	li {
  		float: left;
  		position: relative;
  
  		&:hover > a,
  		&.focus > a {
  		}
  	}*/
  	/*
  
  	.current_page_item > a,
  	.current-menu-item > a,
  	.current_page_ancestor > a {
  	}*/ }
  .main-navigation.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    max-height: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
  .main-navigation ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;
    clear: both;
    overflow: hidden;
    		 /*
    
    		li:hover > ul,
    		li.focus > ul {
    			left: auto;
    		}*/ }
    .main-navigation ul ul {
      /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;*/
      			/*ul {
      				left: -999em;
      				top: 0;
      			}
      
      			li {
      				&:hover > ul,
      				&.focus > ul {
      					left: 100%;
      				}
      			}
      
      			a {
      				width: 200px;
      			}
      
      			:hover > a,
      			.focus > a {
      			}
      
      			a:hover,
      			a.focus {
      			}*/ }
  .main-navigation > ul ul {
    clear: both; }
  .main-navigation a {
    text-align: left;
    color: black;
    display: block;
    padding: .7em 0 .7em 1.8em;
    /*border-bottom: 1px solid #E8E8E8;*/
    position: relative; }
    @media only screen and (min-width: 768px) {
      .main-navigation a {
        text-align: center;
        padding-left: 0; } }
  .main-navigation a:hover {
    color: #67BAB2; }
  @media only screen and (min-width: 768px) {
    .main-navigation {
      position: relative;
      float: left;
      top: auto;
      width: 200px;
      min-height: 100vh;
      padding-top: 91px;
      /* reset style */
      visibility: visible;
      opacity: 1;
      overflow: visible;
      max-height: none; }
      .main-navigation.nav-is-visible {
        box-shadow: none; }
      .main-navigation.is-fixed {
        position: fixed; }
      .main-navigation > ul {
        /* reset style */
        padding: 0; } }

 /*

 Small menu.
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}*/
.menu-item-has-children {
  	/*@include MQ(M) {
  		ul {
  			display:block;
  		}
  
  		ul a {
  			text-align: left;
  			border: none;
  			padding: .25em;
  
  			.no-touch &:hover {
  				color: $color-2;
  			}
  		}
  
  		> a::after {
  			display: block;
  		}
  	}*/ }
  .menu-item-has-children ul {
    position: relative;
    width: 100%;
    display: none;
    padding-left: 1em;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out; }
  .menu-item-has-children > a::after {
    /* arrow icon */
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    /*right: 32px;*/
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../wp_kylecorea/img/cd-arrow.svg); }
  .menu-item-has-children.selected > ul {
    display: block; }
  .menu-item-has-children.selected > a::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg); }

/*.menu-item-has-children > a:after {
    color: rgba(0, 0, 0, .5);
    content: '▼';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: .7em;
    padding: 1.7em;
}

.menu-item-has-children > a.active:after {
    content: "▲";
}

.reel-btn {
    padding: 1em;
    border:2px solid #fff;
}

@media screen and (min-width: 37.5em) {
	button.menu-toggle {
		display: none;
	}
	.main-navigation {


		ul {
			display: block;

		}

		a {
			text-align:left;
			display:block;
			padding: .035em .035em .035em 0;*/
/*border-bottom: 1px solid #E8E8E8;*/
	        /*position: relative;
		}
	}

	.sub-menu {
		display:block;
	}

	.menu-item-has-children > a {
	    padding-right: 1.5em;
	}
	.menu-item-has-children > a:after {
	    content: "";
	    font-size: 1em;
	}
	.menu .level-1 > li.has-subnav > a:after {
	    content: "";
	}
}*/
/*.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
/*.site-header {
    @include bp(lg)
        {
            display:block;
            float:left;
            width:200px;
            padding: 0 1.5em;
            text-align: left;
        }
}*/
.site-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 91px;
  width: 100%;
  background: #ffffff;
  content: "";
  display: table;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media only screen and (min-width: 768px) {
    .site-header {
      float: left;
      height: 91px;
      width: 200px; } }

.site-branding {
  float: left; }

.site-branding {
  margin: 1.5em 0 1.5em 1.5em; }
  @media (min-width: 37.5em) {
    .site-branding {
      margin: 1.5em 0 1.5em 1.5em; } }

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 44px;
  height: 34px;
  margin: 24px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #828282; }
  .cd-nav-trigger span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s; }
  .cd-nav-trigger span::before {
    /* menu icon top line */
    top: -6px; }
  .cd-nav-trigger span::after {
    /* menu icon bottom line */
    top: 6px; }
  .cd-nav-trigger.nav-is-visible span {
    /* hide line in the center */
    background: rgba(130, 130, 130, 0); }
  .cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
    /* keep visible other 2 lines */
    background: #828282; }
  .cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg); }
  .cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    .cd-nav-trigger {
      display: none; } }

#page {
  width: 100%; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.site-content {
  overflow: auto;
  padding: 91px 5% 3em; }
  .site-content::before {
    /* never visible - used to check MQ in jQuery */
    display: none;
    content: 'mobile'; }
  @media only screen and (min-width: 768px) {
    .site-content {
      margin-left: 200px;
      padding-top: 2em;
      padding-right: 2em; }
      .site-content::before {
        content: 'tablet'; } }
  @media only screen and (min-width: 1170px) {
    .site-content {
      margin-left: 200px; }
      .site-content::before {
        content: 'desktop'; } }

.full-image {
  max-width: 600px; }

/*====================================
=            Isotope Grid            =
====================================*/
/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .element-item ---- */
.grid {
  overflow: visible; }

/* 3 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 100%;
  height: auto; }
  @media only screen and (min-width: 480px) {
    .grid-item,
    .grid-sizer {
      width: 49%; } }
  @media only screen and (min-width: 768px) {
    .grid-item,
    .grid-sizer {
      width: 32%; } }

.gutter-sizer {
  width: 2%; }

.grid-item {
  float: left;
  margin-bottom: 2%; }

.grid-item img {
  display: block;
  width: 100%; }

/*=====  End of Isotope Grid  ======*/
/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
footer {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    footer {
      margin-left: 200px; }
      footer::before {
        content: 'tablet'; } }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }
