h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1.site-title {
    margin:0;
}
.site-title {
    font-size:1.5em;
    font-weight:700;
    line-height:1;
}

.site-title a {
    border-bottom:none;
}

p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 21px;
    color:$color__body-text;
    margin:0;
}

h2 {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 300;
    font-size: 21px;
    padding: 0 0 14px 0;
    letter-spacing: .05em;
    color: $color__body-text;
    text-transform: uppercase;
    margin:0;
}

a, a:visited {
    text-decoration:none;
    color: $color__kc-highlight;
    border-bottom: solid 1px $color__kc-highlight;
}






.red {
    color:$color__kc-red;
}

.black {
    color:$color__kc-black;
}

.site-description {
    color:$color__kc-lightgrey;
    font-weight:300;
    font-size:.8em;
    letter-spacing: .5px;
    font-family:work sans;
    margin:0;
}

