.main-navigation ul li a {
    font-weight:400;
    font-size:13px;
    letter-spacing: 1.12px;
    text-transform: uppercase;

}

.main-navigation ul li a:hover{
        color:$color__kc-highlight;

}

.main-navigation .sub-menu a {
    color:#0d0d0d;
    font-weight: 400;
    font-size:.8em;
    text-transform:none;
}

.main-navigation a {
    border-bottom:none;
}

.cd-nav-trigger {
    border-bottom:none;
}
