/*.menu-toggle {
    font-weight:500;
    float:right;
    display:block;
    border: 0px solid rgba(0, 0, 0, .5);
    border-radius: 0;
    background: white;
    box-shadow: none;
    color: rgba(0, 0, 0, .5);
    font-size: 1.25em;
    line-height: 1;
    margin:1em;
    text-shadow: 0;
}

button:focus, button:active {
    outline:0;
}*/





.main-navigation {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	padding: $header-height-S 0 0;
	background-color: $color-3;
	visibility: hidden;
	opacity: 0;
	max-height: 100vh;
	overflow: hidden;
	@include font-smoothing;
	@include transition(opacity .2s 0s, visibility 0s .2s);

	&.nav-is-visible {
		opacity: 1;
		visibility: visible;
		overflow: visible;
		-webkit-overflow-scrolling: touch;
		@include transition(opacity .2s 0s, visibility 0s 0s);
		max-height: none;
		box-shadow: 0 2px 10px rgba(#000, .2);
	}





	ul {
		width:100%;
		list-style: none;
		margin: 0;
		padding-left: 0;
		clear:both;
		overflow:hidden;

		ul {
			/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;*/

			/*ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}*/
		}/*

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}*/
	}/*
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}*/

	> ul ul {
		clear: both;
	}
	a {
		text-align:left;
        color: black;
        display: block;
        padding: .7em 0 .7em 1.8em;
        /*border-bottom: 1px solid #E8E8E8;*/
        position: relative;

        @include MQ(M) {
          text-align:center;
          padding-left:0;
        }
	}

	a:hover {
		color:#67BAB2;
	}


	/*

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}*/
	@include MQ(M) {
		position: relative;
		float: left;
		top: auto;
		width: $sidebar-width-M;
		min-height: 100vh;
		padding-top: $header-height-M;
		/* reset style */
		visibility: visible;
		opacity: 1;
		overflow: visible;
		max-height: none;

		&.nav-is-visible {
			box-shadow: none;
		}

		&.is-fixed {
			position: fixed;
		}

		> ul {
			/* reset style */
			padding: 0;
		}
	}
}/*

 Small menu.
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}*/



.menu-item-has-children {

	ul {
		position: relative;
		width: 100%;
		display: none;
		padding-left:1em;
		@include transition(all 2.0s ease-in-out);
	}

	> a::after {
		/* arrow icon */
		position: absolute;
		content: '';
		height: 16px;
		width: 16px;
		/*right: 32px;*/
		@include center(y);
		background: url(../wp_kylecorea/img/cd-arrow.svg);
	}

	&.selected > ul {
		display: block;
	}

	&.selected > a::after {
		@include transform(translateY(-50%) rotate(180deg));
	}

	/*@include MQ(M) {
		ul {
			display:block;
		}

		ul a {
			text-align: left;
			border: none;
			padding: .25em;

			.no-touch &:hover {
				color: $color-2;
			}
		}

		> a::after {
			display: block;
		}
	}*/
}

/*.menu-item-has-children > a:after {
    color: rgba(0, 0, 0, .5);
    content: '▼';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: .7em;
    padding: 1.7em;
}

.menu-item-has-children > a.active:after {
    content: "▲";
}

.reel-btn {
    padding: 1em;
    border:2px solid #fff;
}

@media screen and (min-width: 37.5em) {
	button.menu-toggle {
		display: none;
	}
	.main-navigation {


		ul {
			display: block;

		}

		a {
			text-align:left;
			display:block;
			padding: .035em .035em .035em 0;*/
	        /*border-bottom: 1px solid #E8E8E8;*/
	        /*position: relative;
		}
	}

	.sub-menu {
		display:block;
	}

	.menu-item-has-children > a {
	    padding-right: 1.5em;
	}
	.menu-item-has-children > a:after {
	    content: "";
	    font-size: 1em;
	}
	.menu .level-1 > li.has-subnav > a:after {
	    content: "";
	}
}*/

/*.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}*/