/*.site-header {
    @include bp(lg)
        {
            display:block;
            float:left;
            width:200px;
            padding: 0 1.5em;
            text-align: left;
        }
}*/

.site-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    height: $header-height-S;
    width: 100%;

    background: $color-3;

    @include clearfix;
    @include font-smoothing;

    @include MQ(M) {
        float:left;
        height: $header-height-M;
        width: $sidebar-width-M;
    }
}

.site-branding {
    float:left;
}

.site-branding {
    margin: 1.5em 0 1.5em 1.5em;

    @include bp(lg)
        {
            margin: 1.5em 0 1.5em 1.5em;
        }
}

.cd-nav-trigger {
    /* navigation trigger - visible on mobile devices only */
    float: right;
    position: relative;
    display: block;
    width: 44px;
    height: 34px;

    margin: 24px;
    /* hide text */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;

    span, span::before, span::after {
        /* hamburger icon in CSS */
        position: absolute;
        display: inline-block;
        height: 3px;
        width: 24px;
        background: $color__kc-lightgrey;
    }

    span {
        /* line in the center */
        position: absolute;
        top: 50%;
        right: 5px;
        margin-top: -2px;
        @include transition(background .2s);
    }

    span::before, span::after {
        /* other 2 lines */
        content: '';
        right: 0;
        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        @include backface-visibility(hidden);

        @include transform-origin(0% 50%);
        @include transition(transform .2s);
    }

    span::before {
        /* menu icon top line */
        top: -6px;
    }

    span::after {
        /* menu icon bottom line */
        top: 6px;
    }

    &.nav-is-visible {
        span {
            /* hide line in the center */
            background: rgba($color__kc-lightgrey, 0);
        }

        span::before, span::after {
            /* keep visible other 2 lines */
            background: rgba($color__kc-lightgrey, 1);
        }

        span::before {
            @include transform(translateX(4px) translateY(-3px) rotate(45deg));
        }

        span::after {
            @include transform(translateX(4px) translateY(2px) rotate(-45deg));
        }
    }

    @include MQ(M) {
        display: none;
    }
}

#page {
    width:100%;
}