.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
    overflow:auto;
    padding: $header-height-S 5% 3em;


    &::before {
        /* never visible - used to check MQ in jQuery */
        display: none;
        content: 'mobile';
    }

    @include MQ(M) {
        margin-left: $sidebar-width-M;
        padding-top:2em;
        padding-right:2em;
        &::before {
            content: 'tablet';
        }
    }

    @include MQ(L) {
        margin-left: $sidebar-width-L;

        &::before {
            content: 'desktop';
        }
    }
}

.full-image {
  max-width:600px;
}

/*====================================
=            Isotope Grid            =
====================================*/




/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid {
  overflow:visible;
}

/* 3 columns, percentage width */
.grid-item,
.grid-sizer {
  width: 100%;
  height:auto;
  @include MQ(S) {
    width:49%;
  }
  @include MQ(M) {
    width:32%;
  }
}

.gutter-sizer {
    width:2%;
}

.grid-item {
  float: left;
  margin-bottom:2%;
}

.grid-item img {
  display: block;
  width:100%;
}




/*=====  End of Isotope Grid  ======*/

